*~
__pycache__
*egg-info*
*.pyc
.DS_Store
docs/_build/
.idea
build/
dist/
MANIFEST
.tox
*.h246
*.zip

# WebDAV file system cache files
.DAV/

# tags files (from ctags)
tags

test/

# carpetas con meidiones
# static/